!include ../config/otr.common.config

app.name                                        =           ort-server


## database
sql.host                                        =           localhost
sql.user                                        =           some_user
sql.password                                    =           some_password
sql.database                                    =           otr
sql.max_connection                              =           100


uris.public                                     =           /api/user/register, /api/user/list, /ping, /api/user/login