app.name                                        =           ort-server


## database
sql.host                                        =           localhost
sql.user                                        =           some_username
sql.password                                    =           some_password
sql.database                                    =           test
sql.max_connection                              =           100


uris.public                                     =           /ping, /api/user/login