!include ../config/otr.common.config
app.name                                =           otr-client

server.url                              =           http://localhost:4567

keys.identity.keySize                   =           4096
keys.pre.count                          =           100

aes.keygen.algorithm                    =           PBKDF2WithHmacSHA1
aes.key.iterations                      =           65536
aes.key.length                          =           256
aes.cipher.transformation               =           AES/CBC/PKCS5Padding

## org.bouncycastle.jce.ECNamedCurveTable.getNames
ecdh.curveName                          =           prime192v1

user.keystore                           =           users/
